<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'usuarios'"> usuarios </a>
      <a mat-button [routerLink]="'/mascotas'"> mascotas </a>
      <a mat-button [routerLink]="'/historias'"> historias</a>
      <a mat-button [routerLink]="'/colaborador'"> colaborador</a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px"
      >SimpleCRM helps you easily manage your contacts</span
    >
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
